body {
    background-color: #f5f3ff;
    padding: 40px 20px; 
}

.judul {
    color: #3d209c;
    font-weight: bold;
}

.buku-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 40px;
}

@media (max-width:768px) {
    .buku-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:480px) {
    .buku-container {
        grid-template-columns: 1fr;
    }
}

.buku-card {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
}

.book-cover {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.buku-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
}

.card-text {
    font-size: 0.9rem;
    line-height: 1.5;
    text-align: justify;
    color: #6c757d;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 20px;
}

.btn-baca {
    background-color: #3d209c;
    color: white;
}

.btn-baca:hover {
    background-color: #2e1878;
    color: white;
}